@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
h1, h2, h3, h4, h5, h6, p, span, ul, li, a, .btn-default, textarea {
	margin: 0;
	padding: 0;
}
* {
	margin: 0;
	padding: 0;
}
a, a:hover, a:focus {
	text-decoration: none;
}
ul{
    list-style-type: none;
  }
body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
.container{
	max-width: 1300px;
}	
/* Header css start here */
.header-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.greenText {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #0b7060;
}
.header-top-section a {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.header-top-section select {
    width: 100%;
    max-width: 100px;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.header-top-sect2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 300px);
}
.header_content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 200px;
}
.header-left {
    width: 100%;
    max-width: 300px;
}
.header_content_left img {
    max-width: 30px;
    object-fit: cover;
    object-position: center;
}
.header_content_right {
    padding-left: 10px;
}
.header_content_right a:hover {
    color: #0b7060;
}
.Reg_title {
    font-size: 18px;
    font-weight: 500;
    color: #0b7060;
}
.paragraph {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.header-left img {
    max-width: 250px;
    object-fit: cover;
    object-position: center;
}
.search_input {
    padding: 8px 10px;
    border: 0;
    width: 100%;
}
.search_btn {
    padding: 8px 10px;
    background: #0b7060;
    border: 0;
    color: #fff;
}
.searc_sec {
    border: 1px solid #e1e1e1;
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_input:focus-visible {
    outline: none;
}
.nav_content {
    display: flex;
    align-items: center;
}
.nav_category {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background: #7dc141;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    width: 100%;
    max-width: 250px;
}
.nav_category:hover{
    color: #fff;
}
.nav_category span {
    padding-right: 10px;
}
.all_links {
    display: flex;
    justify-content: end;
}
.nav_right_sect {
    width: 100%;
}
.header_navigation {
    background: #0b7060;
}
.all_links li a {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.header_navigation .stellarnav>ul>li>a {
    padding: 15px 5px 15px 15px;
}
.header_navigation .stellarnav ul ul {
    background: #7dc141 !important;
    padding: 5px 20px;
    width: 250px !important;
}
.header_navigation .stellarnav ul ul li{
    padding: 10px 0;
    line-height: 1;
}
.header_navigation .stellarnav ul ul li a{
    color: #fff;
    padding: 0;
    border: none !important;
}
.all_links li a:before {
    content: '';
    position: absolute;
    border-bottom: 3px solid #7dc141;
    width: 0%;
    bottom: 10px;
    transition: all 0.3s ease-in-out;
}
.all_links li a:hover:before{
    color: #7dc141;
    width: 50%;
    transition: all 0.3s ease-in-out;
}
.header_navigation .stellarnav .menu-toggle span.bars span{
    background: #fff !important;
}
.header_detail_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_navigation .stellarnav.mobile.left>ul{
    background: #0b7060;
}
.header_navigation .stellarnav .icon-close:after{
    border-bottom: solid 3px #fff;
}
.header_navigation .stellarnav .icon-close:before {
    border-bottom: solid 3px #fff;
}
.header_navigation .stellarnav a.dd-toggle .icon-plus:after{
    border-bottom: solid 3px #fff;
}
.header_navigation .stellarnav a.dd-toggle .icon-plus:before{
    border-bottom: solid 3px #fff;
}
/* Index Section 1 Css */
.banner-slide {
    min-height: 650px;
    display: flex;
    align-items: center;
    padding-left: 300px;
}
.index-sec1 .owl-dot.active span{
	background: #0b7060 !important;
    width: 40px;
}
.index-sec1 .owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
}
.slider_title {
    font-size: 36px;
    color: #fff;
    font-weight: 500;
}
.slide-text .paragraph {
    max-width: 400px;
    color: #fff;
    font-weight: 300;
	padding: 10px 0;
}
.cta-btn {
    background: #fff;
    padding: 10px 30px;
	color: #0b7060;
	font-size: 16px;
	font-weight: 400;
    transition: all 0.3s ease-in-out;
}
.cta-btn:hover{
    background: #0b7060;
    color: #fff;
}
.slide-button {
    margin-top: 15px;
}
/*  */
.index-sec2 {
    padding: 70px 0;
}
.index-about {
    text-align: center;
    max-width: 1030px;
    margin: 0 auto;
}
.mainHeading {
    font-size: 30px;
    font-weight: 500;
    color: #0b7060;
}
.index-about .paragraph {
    padding: 15px 0;
}
.index-about a {
    color: #0b7060;
    font-weight: 500;
}
/*  */
.index-sec3 {
    padding: 50px 0;
}
.index-sec3 .mainHeading {
    text-align: center;
    padding-bottom: 50px;
}
.categories-slider {
    position: relative;
}
.index-sec3 .swiper {
    overflow: hidden;
}
.index-sec3 .swiper-button-next{
	right: -40px;
}
.index-sec3 .swiper-button-prev{
	left: -40px;
}
.index-sec3 .swiper-button-prev:after{
	display: none;
}
.index-sec3 .swiper-button-next:after{
	display: none;
}
.custom_arrow {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    background: #0b7060;
}
.category_slider_content img {
    width: 100%;
    min-height: 220px;
    max-height: 220px;
    height: 100%;
}
.category_bottomSec {
    background: #0b7060;
    padding: 10px 0;
    text-align: center;
}
.category_bottomSec .paragraph {
    color: #fff;
}
/*  */
.index-sec4 {
    padding: 70px 0;
}
.index-sec4 .mainHeading {
    text-align: center;
    padding-bottom: 50px;
}
.product_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 310px;
    height: 100%;
    border: 1px solid #ccc;
    padding: 0 10px;
}
.product_img {
    width: 100%;
    height: 100%;
    min-height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rating_stars {
    color: #ffd700;
}
.product_para1 {
    font-size: 18px;
    font-weight: 500;
}
.product_para2 {
    font-size: 18px;
    font-weight: 500;
    color: #0b7060;
}
.add_item i {
    background: #0b7060;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_wrap {
    position: relative;
    height: 100%;
}
.product_wrap:hover .prod_detail{
    opacity: 1;
    visibility: visible;
    height: 100%;
}
.prod_detail {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0%;
    opacity: 0;
    visibility: hidden;
    background: #cccccc70;
    height: 0%;
    transition: all 0.5s ease-in-out;
}
.add_item {
    padding: 0 5px;
}
.btn-sec {
    text-align: center;
    margin-top: 30px;
}
.btn-sec .cta-btn {
    background: #0b7060;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.btn-sec .cta-btn:hover{
    background: #7dc141;
}
.mega_offerBtn .cta-btn:hover{
    background: #7dc141;
}
/*  */
.index-sec5 {
    background: url('./images/biodoph-banner.png');
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 670px;
}
.biodoph-offer-sect {
    min-height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Boldtext {
    font-size: 50px;
    color: #0b7060;
    font-weight: 600;
}
.index-sec5 .btn-sec {
    text-align: left;
    margin-top: 10px;
}
.main-example {
	margin: 20px auto;
	width: 355px;
}
.main-example .countdown-container {
	height: 130px;
}
.main-example .time {
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	display: inline-block;
	text-align: center;
	position: relative;
	height: 95px;
	width: 65px;

	-webkit-perspective: 479px;
	-moz-perspective: 479px;
	-ms-perspective: 479px;
	-o-perspective: 479px;
	perspective: 479px;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);

	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.main-example .count {
	background: #0b7060;
	color: #f8f8f8;
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	line-height: 2.4em;
	overflow: hidden;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	top: 0;
	width: 100%;

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);

	-webkit-transform-style: flat;
	-moz-transform-style: flat;
	-ms-transform-style: flat;
	-o-transform-style: flat;
	transform-style: flat;
}
.main-example .count.top {
	border-top: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.1);
	border-radius: 5px 5px 0 0;
	height: 50%;

	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.main-example .count.bottom {
	background-image: linear-gradient(rgba(255,255,255,0.1), transparent);
	background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), transparent);
	background-image: -moz-linear-gradient(rgba(255,255,255,0.1), transparent);
	background-image: -ms-linear-gradient(rgba(255,255,255,0.1), transparent);
	background-image: -o-linear-gradient(rgba(255,255,255,0.1), transparent);
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-radius: 0 0 5px 5px;
	line-height: 0;
	height: 50%;
	top: 50%;

	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	-o-transform-origin: 50% 0;
	transform-origin: 50% 0;
}
.main-example .label {
	font-size: normal;
	margin-top: 5px;
	display: block;
	position: absolute;
	top: 95px;
	width: 100%;
}
/* Animation start */
.main-example .count.curr.top {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	transform: rotateX(0deg);
	z-index: 3;
}
.main-example .count.next.bottom {
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	-ms-transform: rotateX(90deg);
	-o-transform: rotateX(90deg);
	transform: rotateX(90deg);
	z-index: 2;
}
/* Animation end */
.main-example .flip .count.curr.top {
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;

	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}
.main-example .flip .count.next.bottom {
	-webkit-transition: all 250ms ease-in-out 250ms;
	-moz-transition: all 250ms ease-in-out 250ms;
	-ms-transition: all 250ms ease-in-out 250ms;
	-o-transition: all 250ms ease-in-out 250ms;
	transition: all 250ms ease-in-out 250ms;

	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.main-example {
	width: 100%;
}
.main-example .countdown-container {
	height: 100px;
}
.main-example .time {
	height: 70px;
	width: 48px;
}
.main-example .count {
	font-size: 1.5em;
	line-height: 70px;
}
.main-example .label {
	font-size: 0.8em;
	top: 72px;
}
/*  */
.index-sec6 {
    position: relative;
    padding: 70px 0;
}
.index-sec6 .mainHeading {
    text-align: center;
    padding-bottom: 50px;
}
.offer_left_sec {
    position: relative;
}
.offer_left_content {
    position: absolute;
    top: 5%;
    left: 5%;
    max-width: 300px;
}
.offer_left_content .semiBold {
    color: #000;
    font-size: 20px;
}
.offer_right_sec .product_item {
    justify-content: left;
    align-items: initial;
    text-align: left;
}
.offer-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.offer_additem i {
    color: #0b7060;
}
.rating_stars span{
    color: #000;
}
.mega_offer_sec {
    /* background: url(../images/coupon-bg-image.png); */
    background-size: cover;
    background-position: center;
    min-height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding: 0 60px;
}
.semiBold {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}
.mega_leftSec .paragraph {
    color: #fff;
}
.offer_left_sec img {
    min-height: 700px;
    object-fit: cover;
    object-position: center;
}
.cta-btn img {
    padding-right: 10px;
}
/*  */
.index-sec7 {
    padding: 50px 0;
}
.index-sec7 .mainHeading {
    text-align: center;
    padding-bottom: 30px;
}
.client_riviews {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    border-top: 20px solid #0b7060;
    border-bottom: 20px solid #0b7060;
    padding: 20px 0;
}
.client_riviews img {
    border-radius: 50%;
}
.client_name {
    font-size: 16px;
    color: #0b7060;
    font-weight: 500;
    padding: 10px 0;
}
.client_riviews .paragraph {
    font-weight: 500;
}
.custom_arrow2 {
    background: #0b7060;
    color: #fff;
    width: 40px;
    height: 40px;
}
.client_slider_sect{
    position: relative;
    overflow: hidden;
}
.index-sec7 .swiper-button-next{
    right: 100px;
}
.index-sec7 .swiper-button-prev{
    left: 100px;
}
.index-sec7 .swiper-button-next:after {
    display: none;
}
.index-sec7 .swiper-button-prev:after {
    display: none;
}
/* Footer Css Start Here */
footer {
    padding: 30px 0 0;
    background: #f1f1f1;
}
.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px 0;
}
.footer_title {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.footer_col ul {
    padding-top: 15px;
}
.footer_col ul li a {
    font-size: 16px;
    color: #000;
    font-weight: 400;
}
.footer_col ul li {
    padding: 5px 0;
}
.social_icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.social_icons li img {
    padding-right: 30px;
}
.footer-logo {
    text-align: center;
}
.footer-logo a img {
    max-width: 250px;
    object-fit: cover;
    object-position: center;
}
.copy_right_sect {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #c0c0c0;
}
.copy_right_sect .paragraph span{
    color: #0b7060;
}
/* ============== Wish List Page Css Stgart Here ================ */
.inner_banner_sect{
    background: url('./images/wish-list-banner.png');
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 250px;
}
.inner_banner_content{
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wishList_prod {
    width: 100%;
    max-width: 300px;
    height: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 40px;
    background: #fff;
    box-shadow: 0px 0px 16px 2px #ccccccbf;
    margin: 20px;
}
.wishList_prod_detail {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wish_sec2Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1050px;
    margin: 0 auto;
}
.wishList_bottomSec {
    text-align: center;
}
.trash {
    color: #000;
}
.product_para2 span {
    text-decoration: line-through;
    font-size: 14px;
    padding-left: 10px;
}
.wishList_cart i {
    color: #0b7060;
}
.wishList_prod .product_para1 {
    text-align: center;
}
.wishList_sect2 {
    padding: 100px 0;
}
/*========= Customer Info Page Css Start Here ===========*/
.customer-info-sec2 {
    padding: 100px 0;
    position: relative;
}
.customer-info-wrap .inner_banner_sect {
    background: url("./images/customerinfo-benner.png");
}
.info_sec2_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.info_sec2_left {
    width: 100%;
    max-width: 300px;
    background: #fafafa;
}
.info_sec2_right {
    width: calc(100% - 400px);
}
.customer-info-sec2  .nav-pills .nav-link.active{
    background: #0b7060;
    color: #fff;
}
.customer-info-sec2  .nav-pills .nav-link{
    display: flex;
    padding: 15px 20px;
    border-radius: 0;
    color: #000;
    font-size: 18px;
    font-weight: 400;
}
.customer-inner-wrap input {
    background: #fafafa;
    padding: 12px 30px;
    border-radius: 0;
    border-color: #e7e7e7;
}
.signature_input input {
    height: 100px;
}
.customer-inner-wrap label {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.customer-inner-wrap label span {
    color: #0b7060;
}
.customer-inner-wrap {
    max-width: 600px;
}
.customer-inner-wrap .btn-sec {
    text-align: left;
}
.customer-info-sec2 .semiBold {
    color: #000;
    padding-bottom: 50px;
}
.order_content {
    display: flex;
    align-items: center;
}
.order_content .paragraph {
    max-width: 330px;
    padding-left: 20px;
}
.order_content .product_para2 {
    padding-left: 40px;
}
.order_content img {
    max-width: 80px;
    min-height: 80px;
    object-fit: cover;
    object-position: center;
}
.megaBucks_content_inner {
    display: flex;
    align-items: center;
}
.megaBucks_content_inner .paragraph {
    max-width: 350px;
    width: 100%;
}
.megaBucks_content_inner .paragraph span {
    color: #0b7060;
}
.productreview_content {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.productreview_content .paragraph {
    max-width: 220px;
    width: 100%;
}
/* ======== Product Category Page Css Start Here  ========== */
.category-sect1 {
    position: relative;
    padding: 70px 0;
}
.category-sect1 .semiBold {
    color: #000;
}
.prod_categories ul li {
    padding: 5px 0;
}
.product_inner_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.product_left_sec {
    width: 100%;
    max-width: 300px;
    position: relative;
}
.product_right_sec {
    width: calc(100% - 300px);
}
.prod_right_topsec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.select_category_range {
    display: flex;
    align-items: center;
}
.select_category_range select {
    margin-left: 20px;
}
.filter-toggle i {
    background: #0b7060;
    color: #fff;
    width: 35px;
    height: 35px;
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.filter-close {
    position: absolute;
    right: 0;
    top: 5px;
    background: #0b7060;
    width: 30px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
}
/* ==================== */
.filter-price {
    width: 250px;
    border: 0;
    padding: 0;
    margin: 0; 
  }
  .price-title {
    position: relative;
    color: #898686;
    font-size: 16px;
    font-weight: 600;
}
  .price-field {
    position: relative;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    padding-top: 15px;
    border-radius: 3px;
  }
  
  .price-field input[type=range] {
      position: absolute;
  }
  
  /* Reset style for input range */
  
  .price-field input[type=range] {
    width: 100%;
    height: 2px; 
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
    -webkit-appearance: none;
  }
  
  .price-field input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
  }
  
  .price-field input[type=range]:active,
  .price-field input[type=range]:focus {
    outline: 0;
  }
  
  .price-field input[type=range]::-ms-track {
    width: 188px;
    height: 2px; 
    border: 0;
    outline: 0;
    box-sizing: border-box;
    border-radius: 5px;
    pointer-events: none;
    background: transparent;
    border-color: transparent;
    color: transparent;
    border-radius: 5px;
  }
  
  /* Style toddler input range */
  
  .price-field input[type=range]::-webkit-slider-thumb { 
    /* WebKit/Blink */
      position: relative;
      -webkit-appearance: none;
      margin: 0;
      border: 0;
      outline: 0;
      border-radius: 50%;
      height: 10px;
      width: 10px;
      margin-top: -4px;
      background-color: #036564;
      cursor: pointer;
      cursor: pointer;
      pointer-events: all;
      z-index: 100;
  }
  
  .price-field input[type=range]::-moz-range-thumb { 
    /* Firefox */
    position: relative;
    appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    background-color: #036564;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
  }
  
  .price-field input[type=range]::-ms-thumb  { 
    /* IE */
    position: relative;
    appearance: none;
    margin: 0;
    border: 0;
    outline: 0;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-top: -5px;
    background-color: #036564;
    cursor: pointer;
    cursor: pointer;
    pointer-events: all;
    z-index: 100;
  }
  
  /* Style track input range */
  
  .price-field input[type=range]::-webkit-slider-runnable-track { 
    /* WebKit/Blink */
    width: 188px;
    height: 2px;
    cursor: pointer;
    background: #036564;
    border-radius: 5px;
  }
  
  .price-field input[type=range]::-moz-range-track { 
    /* Firefox */
    width: 188px;
    height: 2px;
    cursor: pointer;
    background: #036564;
    border-radius: 5px;
  }
  
  .price-field input[type=range]::-ms-track { 
    /* IE */
    width: 188px;
    height: 2px;
    cursor: pointer;
    background: #036564;
    border-radius: 5px;
  }
  
  /* Style for input value block */
  .price-wrap {
    display: flex;
    color: #000;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 500;
    margin-bottom: 7px;
  }
  .price-wrap_line {
    margin: 0 10px;
  }
  .price-wrap #one, 
  .price-wrap #two {
    width: 40px;
    text-align: right;
    margin: 0;
    padding: 0;
    margin-right: 2px;
    background:  0;
    border: 0;
    outline: 0;
    color: #000;
    font-size: 16px;
    font-weight: 600;
  }
  .price-wrap label {
    text-align: right;
  }
  /* Style for active state input */  
  .price-field input[type=range]:hover::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.5px #036564;
    transition-duration: 0.3s;
  }
  
  .price-field input[type=range]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.5px #036564;
    transition-duration: 0.3s;
  }

  /*  */
  /*  */
/** PRODUCT DETAIL PAGE CSS START
*************************************/
.productDetail-sec2 {
    padding: 70px 0;
  }
  .product-right-section .rating_stars {
    color: #ffd700;
    display: flex;
    align-items: center;
}
.product-right-section .rating_stars p{
    color: #000;
}
.product-info-content .nav-pills .nav-link.active {
    color: #fff;
    background-color: #0b7060;
    border-radius: 0;
}
.product-info-content .nav-pills .nav-link {
    color: #000;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
}
.product-info-section {
    padding: 50px 0;
    position: relative;
}
.product-info-section .semiBold {
    color: #000;
    padding-bottom: 30px;
}
  /*Swiper Slider CSS Start*/
  .productDetail-sec2 .swiper-slide {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .productDetail-sec2 .swiper-container {
    width: 80%;
    height: 700px;
    float: left;
    transition: opacity 0.6s ease, transform 0.3s ease;
  }
  .productDetail-sec2 .main-slider {
    width: 75%;
    margin-left: 20px;
    overflow: hidden;
  }
  .productDetail-sec2 .swiper-container.nav-slider {
    width: 20%;
    overflow: hidden;
  }
  .productDetail-sec2 .swiper-container.nav-slider .swiper-slide {
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  .productDetail-sec2 .swiper-container.nav-slider .swiper-slide.swiper-slide-active {
    opacity: 1;
  }
  .productDetail-sec2 .swiper-container.nav-slider .swiper-slide .content {
    width: 100%;
  }
  .productDetail-sec2 .swiper-container.nav-slider .swiper-slide .content .title {
    font-size: 20px;
  }
  .productDetail-sec2 .swiper-container:hover .swiper-button-prev,
  .swiper-container:hover .swiper-button-next {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  .productDetail-sec2 .swiper-container.loading {
    opacity: 0;
    visibility: hidden;
  }
  .productDetail-sec2 .swiper-slide {
    overflow: hidden;
  }
  .productDetail-sec2 .swiper-slide .slide-bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover !important;
    background: #f4f4f4;
    background-repeat: no-repeat;
  }
  .productDetail-sec2 .swiper-slide .entity-img {
    display: none;
  }
  .productDetail-sec2 .swiper-slide .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50%;
    padding-left: 5%;
    color: #fff;
  }
  .productDetail-sec2 .swiper-slide .content .title {
    font-size: 2.6em;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .productDetail-sec2 .swiper-slide .content .caption {
    display: block;
    font-size: 13px;
    line-height: 1.4;
    transform: translateX(50px);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.7s ease;
  }
  .productDetail-sec2 .swiper-slide .content .caption.show {
    transform: translateX(0);
    opacity: 1;
  }
  .productDetail-sec2 .swiper-button-prev {
    display: none;
  }
  .productDetail-sec2 .swiper-button-next {
    display: none;
  }
  .swatch .header {
    font-weight: 700;
  }
  .swatch .header {
    margin-bottom: 20px;
  }
  .swatch .header {
    display: inline-block;
    float: left;
    line-height: 13px;
    margin-bottom: 30px;
    margin-right: 20px;
    padding-bottom: 5px;
    position: relative;
  }
  .swatch.Color .swatch-element {
    margin-left: 0;
  }
  .swatch .swatch-element {
    margin-bottom: 10px;
    margin-left: -7px;
  }
  .swatch .swatch-element {
    float: left;
  }
  .swatch-element.color input:checked + label {
    border: 3px solid #850c97;
  }
  .swatch-element.color input:checked + label {
    outline: 0px solid #666;
  }
  .swatch-element.color > label {
    margin-right: 10px;
    margin-top: -6px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .swatch-element.color > label {
    background: #666666 none repeat scroll 0 0;
      background-color: rgb(102, 102, 102);
      background-position-x: 0px;
      background-position-y: 0px;
      background-repeat: repeat;
      background-size: auto;
    border: medium none;
    display: block;
    float: left;
    height: 40px;
    margin-right: 13px;
    margin-top: -13px;
    padding: 0;
    position: relative;
    width: 40px;
    border: 1px solid #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .swatch-element > input {
    display: none;
  }
  .product-right-section {
    padding: 50px 0 0;
  }
  .product-detail-summary {
    padding: 10px 0;
  }
  .product-right-section .mainHeading span {
    color: #ccc;
    padding-left: 30px;
    font-size: 25px;
    text-decoration: line-through;
  }
/* Product Detail  */
.increment_dec_sect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    border: 1px solid #ccc;
    width: 350px;
    height: 70px;
    padding: 0 10px;
}
.increment_dec_sect form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0 10px;
    height: 40px;
}
.increment_dec_sect form .value-button {
    width: 25px;
    cursor: pointer;
}
.increment_dec_sect form input {
    max-width: 50px;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    border: 0;
}
.increment_dec_sect .btn-sec {
    margin-top: 0;
}
.product-right-section .btn-sec{
    text-align: left;
}
.paragraph a {
    color: #0b7060;
}
.product_detail-sec3 {
    padding: 30px 0px 70px;
}
.product_detail-sec3 .product_item {
    align-items: flex-start;
    text-align: left;
}
.prod_schedule_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    margin: 20px 0;
}
.time_box {
    border: 2px solid #7dc141;
    width: 50px;
    text-align: center;
    border-radius: 6px;
}
.product_detail_schedule .paragraph {
    color: #7dc141;
}
.manufacturer_list_s1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.manufacturer_list_s1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #cccccc;
}
.manufacturer_list_s2 {
    padding: 10px 20px;
}
.manufacturer_list_s1 p{
    color: #0b7060;
}
.manufacturer_list_s1 a{
    color: #0b7060;
}
.manufacturer-sect1 {
    padding: 100px 0;
}
/*  */
.privacy-sect1 {
    padding: 70px 0;
}

.privacy-sect1 .semiBold {
    color: #000;
    padding-bottom: 20px;
}
/* ======= */
.cart_wrap .inner_banner_sect {
    background: url('./images/cart-banner.png');
}
.cart-sect2 {
    position: relative;
    padding: 70px 0;
}
.cart-sect2 .form-check-input:checked {
    background-color: #0b7060;
    border-color: #0b7060;
}
.img-box img {
    max-height: 100px !important;
    object-fit: cover;
    object-position: center;
}
.regular-text {
    font-size: 16px;
    color: #0b7060;
}
.dlt-item {
    border: 0;
    color: #0b7060;
}
.cart-sect2 .increment_dec_sect {
    width: unset;
    border: 0;
    height: unset;
    padding: 0;
}
.cart-sect2 .increment_dec_sect form {
    border-radius: 0;
}
.Discount_sect {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.coupon_value {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.coupon_value .btn-sec {
    margin-top: 0;
}
.coupon_value input {
    border: 0;
    background: #fff;
    box-shadow: 2px 2px 10px 0px #ccc;
    padding: 10px;
    margin-right: 20px;
}
.coupon_value input:focus-visible{
    outline: none;
}
.coupon_value .btn-sec .cta-btn {
    padding: 10px;
}
.subTotal_inner1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.subTotal_sect {
    background: #fff;
    box-shadow: 0px 2px 10px 0px #ccc;
    padding: 20px;
    max-width: 370px;
    margin: 0 0 0 auto;
}
.shippingSec {
    border-top: 1px solid #0b7060;
    border-bottom: 1px solid #0b7060;
}
.checkout_btn {
    border: 0;
    background: #0b7060;
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
}
.checkout_btn:hover {
    background: #7dc141;
}
.checkout_btn a {
    color: #fff;
}
.para {
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
}
.shipping_address {
    padding-top: 20px;
}
.shipping_address a {
    color: #000;
    text-decoration: underline;
}
.shipping_address .product_para1 {
    padding-bottom: 10px;
}
/* Checkout Page Css Start Here */
.checkout_sect1 {
    padding: 70px 0;
}
.checkout_sect1 .customer-inner-wrap {
    max-width: 100%;
}
.customer-inner-wrap .semiBold {
    color: #000;
}
.checkout_sect1 .subTotal_sect {
    max-width: 100%;
}
.checkout_wrap .inner_banner_sect {
    background: url('./images/checkout-banner.png');
}
.checkout_sect1 .form-check-input:checked {
    background-color: #0b7060;
    border-color: #0b7060;
}
/* Contact Us */
.contact_wrap .inner_banner_sect{
    background: url('./images/contact-banner.png');
}
.contact_info {
    max-width: 250px;
    text-align: center;
}
.contact_info img {max-width: 30px;object-fit: cover;object-position: center;padding-bottom: 20px;}
.contact-sect1 {
    position: relative;
    padding: 70px 0px;
}
.contact-sect1 .semiBold {
    color: #000;
}
.contact_fields input {
    border: 0;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #ccc;
    padding: 15px 20px;
    border-radius: 0;
}
.contact_fields textarea {
    border: 0;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #ccc;
    padding: 15px 20px;
    border-radius: 0;
    width: 100%;
    height: 100px;
    resize: none;
}
.contact_fields textarea:focus-visible {
    outline: none;
}
.getIn_sec {
    background: #f1f1f1;
    padding: 50px 50px 10px;
    margin-left: -12px;
}
.getIn_sec .btn-sec {
    text-align: left;
}
/* Login Modal Css Start Here */
.login-field {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #cccccc;
}
.login-field input {
    border: 0;
    padding: 5px 10px;
}
.login-field input:focus {
    box-shadow: none;
}
.input-icons {
    color: #0b7060;
}
.check-out {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.check-out a {
    color: #000;
    font-weight: 500;
    font-size: 16px;
}
.check-out label {
    color: #000;
    font-weight: 500;
    font-size: 16px;
}
.loginModal .modal-header {
    border: 0;
}
.loginModal .modal-header h5 {
    font-size: 22px;
    font-weight: 500;
}
.loginModal .modal-content {
    padding: 30px;
    border-radius: 0%;
}
.loginModal .paragraph {
    font-size: 16px;
    font-weight: 500;
}
.loginModal  .checkout_btn {
    padding: 15px 0;
}
.check-out label a {
    color: #0b7060;
}
/* Reward Page Css Start */
.rewards-sect1 {
    padding: 70px 0;
}
.rewards-sect1 .semiBold {
    color: #000;
    padding-bottom: 20px;
}
.rewards-sect1 .semiBold small {
    font-size: 14px;
}
.Custom-bullets {
    padding-left: 50px;
}
.Custom-bullets li {
    list-style-type: circle;
    padding: 10px 0;}
.inner-bullets li {
    list-style-type: none;
}
.Custom-bullets li p {
    font-weight: 500;
}
/* Help Center Css */
.help-sect1 {
    padding: 70px 0;
}
.help-sect1 .semiBold {
    color: #000;
}
/* Sitemap Css Start Here */
.all-section {
    column-count: 4;
}
.all-section li {
    padding: 10px 0;
    font-size: 16px;
    color: #000;
}
.all-section li i {
    color: #0b7060;
    font-size: 14px;
    padding-right: 5px;
}
.sitemap-sect1 {
    padding: 70px 0;
}
.sitemap-sect1 .semiBold {
    color: #000;
    padding-bottom: 20px;
}
.sitemap-content {
    margin-top: 30px;
}


.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slidertext {
    position: absolute;
    top: 250px;
    width: 100%;
}